/* App.js */
/* Button Logo */
.image-logo {
  width: 60px;
  height: 60px;
}

.image-logo:hover {
  filter: opacity(80%);
}
/* Button Logo End */

/* Button Task */
.image-button-task {
  width: 50px;
  height: 50px;
  color: antiquewhite;
}

.image-button-task:hover {
  filter: opacity(80%);
}
/* Button Task End */

/* Button Chat */
.image-button-inbox {
  width: 50px;
  height: 50px;
  color: antiquewhite;
}

.image-button-inbox:hover {
  filter: opacity(80%);
}
/* Button Chat End */
/*  App.js End */
